extends ../../landing

block pageStyles


block content
   section.formorder(class="container mx-auto px-4 py-12")
        .grid.grid-cols-1.gap-6.items-start(class='lg:grid-cols-3')
            // Left Column 2/3
            .space-y-4.flex.flex-col.justify-start.items-start(class='lg:col-span-2')
               .card.bg-base-200.shadow-xl
                    .card-body
                        h2.h2-service.text-primary Customer Details 
                            span.text-red-500 *
                        p 
                        | Please enter your details below. Ensure all information is accurate to proceed with the transaction smoothly.
                        br
                        | 
                        form#form-customer.form-sample(enctype="multipart/form-data" method="POST")
                            div(class="grid grid-cols-2 gap-6 mb-2")
                                div(class="form-control")
                                    label(class="label font-semibold") First Name
                                    input#firstname(name="firstname" type="text" placeholder="input first name.."  class="input input-bordered w-full max-w-xs")
                                div(class="form-control")
                                    label(class="label font-semibold") Last Name
                                    input#lastname(name="lastname" type="text" placeholder="input lirst name.."  class="input input-bordered w-full max-w-xs")
                                div(class="form-control")
                                    label(class="label font-semibold") Email Address
                                    input#email(name="email" type="text" placeholder="input email address.." class="input input-bordered w-full max-w-xs")
                                div(class="form-control")
                                    label(class="label font-semibold") Phone Number
                                    input#phone(name="phone" type="text" placeholder="input phone number.." class="input input-bordered w-full max-w-xs")
                                div(class="form-control")
                                    label(class="label font-semibold") Scheduled Date
                                    input#scheduleddate(name="scheduleddate" type="date" placeholder="input scheduled date.." class="input input-bordered w-full max-w-xs") 
                                div(class="form-control")
                                    label(class="label font-semibold") Scheduled Time
                                    input#scheduledtime(name="scheduledtime" type="time" placeholder="input scheduled time.." class="input input-bordered w-full max-w-xs") 
                            div(class="form-control")
                                label(class="label font-semibold") Detail Address
                                textarea#address(name="address" class="textarea textarea-bordered" placeholder="input detail address here..")
               .card.bg-base-200.shadow-xl
                    .card-body
                        h2.h2-service.text-primary Choose Service 
                            span.text-red-500 *
                        p 
                            | Please select the services you require from the options below. Ensure your selection matches your needs for the best experience.
                            br
                        form#form-service.form-sample(enctype="multipart/form-data" method="POST")
                            div(class="flex justify-center items-center  p-4")
                                div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-6 rounded-lg")
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 px-4 text-center")
                                            input(type="radio" name="serviceCleaning" id="serviceCleaning" value="House Cleaning" class="peer")
                                            svg(width='80' height='80' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M28.8335 10.8836L18.8335 2.11697C17.9168 1.29705 16.73 0.84375 15.5002 0.84375C14.2703 0.84375 13.0835 1.29705 12.1668 2.11697L2.16682 10.8836C1.63744 11.3571 1.21499 11.9379 0.927611 12.5874C0.640231 13.2369 0.494512 13.9401 0.500158 14.6503V29.217C0.500158 30.5431 1.02694 31.8148 1.96462 32.7525C2.90231 33.6902 4.17408 34.217 5.50016 34.217H25.5002C26.8262 34.217 28.098 33.6902 29.0357 32.7525C29.9734 31.8148 30.5002 30.5431 30.5002 29.217V14.6336C30.5034 13.9262 30.3566 13.2262 30.0693 12.5798C29.782 11.9333 29.3608 11.3552 28.8335 10.8836ZM18.8335 30.8836H12.1668V22.5503C12.1668 22.1083 12.3424 21.6844 12.655 21.3718C12.9675 21.0592 13.3915 20.8836 13.8335 20.8836H17.1668C17.6089 20.8836 18.0328 21.0592 18.3453 21.3718C18.6579 21.6844 18.8335 22.1083 18.8335 22.5503V30.8836ZM27.1668 29.217C27.1668 29.659 26.9912 30.0829 26.6787 30.3955C26.3661 30.708 25.9422 30.8836 25.5002 30.8836H22.1668V22.5503C22.1668 21.2242 21.64 19.9524 20.7024 19.0148C19.7647 18.0771 18.4929 17.5503 17.1668 17.5503H13.8335C12.5074 17.5503 11.2356 18.0771 10.298 19.0148C9.36028 19.9524 8.83349 21.2242 8.83349 22.5503V30.8836H5.50016C5.05813 30.8836 4.63421 30.708 4.32165 30.3955C4.00909 30.0829 3.83349 29.659 3.83349 29.217V14.6336C3.83379 14.397 3.88448 14.1631 3.98219 13.9476C4.07989 13.7321 4.22238 13.5398 4.40016 13.3836L14.4002 4.63364C14.7043 4.36644 15.0953 4.21908 15.5002 4.21908C15.905 4.21908 16.296 4.36644 16.6002 4.63364L26.6002 13.3836C26.7779 13.5398 26.9204 13.7321 27.0181 13.9476C27.1158 14.1631 27.1665 14.397 27.1668 14.6336V29.217Z' fill='#0A36B5')
                                            p.mt-2.text-gray-700 House Cleaning
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 px-4 text-center")
                                            input(type="radio" name="serviceCleaning" value="67d094a450f569a142c25c89" class="peer")
                                            svg(width='80' height='80' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                              path(d='M19.4935 30.2241C19.6002 30.2663 19.6963 30.2874 19.7818 30.2874C19.8674 30.2874 19.9635 30.2663 20.0702 30.2241L29.7635 27.2374C29.7302 26.7308 29.5768 26.3658 29.3035 26.1424C29.0302 25.9191 28.7263 25.8074 28.3918 25.8074H20.4868C19.7802 25.8074 19.1407 25.7797 18.5685 25.7241C17.9952 25.6686 17.4085 25.5363 16.8085 25.3274L13.9518 24.4074C13.7218 24.3319 13.5574 24.1819 13.4585 23.9574C13.3596 23.733 13.3479 23.5052 13.4235 23.2741C13.4979 23.0652 13.6407 22.9097 13.8518 22.8074C14.0618 22.7074 14.2824 22.6947 14.5135 22.7691L17.0968 23.7041C17.6335 23.8863 18.2268 24.003 18.8768 24.0541C19.5268 24.1052 20.3341 24.1341 21.2985 24.1408H21.7252C21.7252 23.6208 21.6296 23.2008 21.4385 22.8808C21.2474 22.5608 20.9729 22.3374 20.6152 22.2108L11.0268 18.6908C10.9624 18.6697 10.9035 18.6541 10.8502 18.6441C10.7968 18.6341 10.7379 18.6286 10.6735 18.6274H7.1735V26.6408L19.4935 30.2241ZM19.0685 31.8708L7.1735 28.3908C7.01461 29.0486 6.6785 29.573 6.16517 29.9641C5.65184 30.3552 5.09072 30.5508 4.48184 30.5508H3.1985C2.45295 30.5508 1.81795 30.2886 1.2935 29.7641C0.769058 29.2397 0.506836 28.6041 0.506836 27.8574V19.6541C0.506836 18.9074 0.769058 18.2719 1.2935 17.7474C1.81795 17.223 2.45295 16.9608 3.1985 16.9608H10.6418C10.7929 16.9608 10.9496 16.9763 11.1118 17.0074C11.2752 17.0386 11.4291 17.0819 11.5735 17.1374L21.2052 20.6658C21.8018 20.8924 22.3152 21.2997 22.7452 21.8874C23.1763 22.4752 23.3918 23.2263 23.3918 24.1408H28.3918C29.3952 24.1408 30.1641 24.4547 30.6985 25.0824C31.2329 25.7113 31.5002 26.5086 31.5002 27.4741C31.5002 27.8074 31.4102 28.0886 31.2302 28.3174C31.0502 28.5463 30.7863 28.7191 30.4385 28.8358L20.6318 31.8608C20.3896 31.9297 20.1341 31.9697 19.8652 31.9808C19.5963 31.9919 19.3302 31.9552 19.0668 31.8708M2.1735 27.8574C2.1735 28.1574 2.26961 28.4036 2.46184 28.5958C2.65406 28.788 2.89961 28.8841 3.1985 28.8841H4.48184C4.78072 28.8841 5.02628 28.8041 5.2185 28.6441C5.41072 28.4841 5.50684 28.2219 5.50684 27.8574V18.6274H3.1985C2.89961 18.6274 2.65406 18.7236 2.46184 18.9158C2.26961 19.108 2.1735 19.3541 2.1735 19.6541V27.8574ZM21.2768 16.6658L19.6102 16.0891V14.6141C19.5968 13.003 19.0252 11.6347 17.8952 10.5091C16.7652 9.38356 15.3918 8.82023 13.7752 8.81911C12.3463 8.81911 11.1374 9.23578 10.1485 10.0691C9.16072 10.9002 8.49795 11.9369 8.16017 13.1791H6.43517C6.7585 11.6558 7.4685 10.3374 8.56517 9.22412C9.66184 8.11078 11.1213 7.433 12.9435 7.19078V2.21745H11.2768C11.0391 2.21745 10.8407 2.138 10.6818 1.97911C10.5229 1.82023 10.4435 1.62189 10.4435 1.38411C10.4435 1.14634 10.5229 0.948003 10.6818 0.789114C10.8407 0.630226 11.0391 0.550781 11.2768 0.550781H18.7768C19.3491 0.550781 19.9285 0.632448 20.5152 0.795781C21.1018 0.959115 21.6407 1.16911 22.1318 1.42578C22.2707 1.50023 22.3941 1.59911 22.5018 1.72245C22.6096 1.84578 22.6635 1.98634 22.6635 2.14411C22.6635 2.38078 22.5841 2.58578 22.4252 2.75911C22.2663 2.93245 22.0679 3.01911 21.8302 3.01911C21.7146 3.01911 21.6024 2.99689 21.4935 2.95245C21.3846 2.90911 21.2863 2.84967 21.1985 2.77411C20.8374 2.56745 20.4563 2.423 20.0552 2.34078C19.6541 2.25856 19.2279 2.21745 18.7768 2.21745H14.6102V7.19245C16.6546 7.45245 18.2768 8.30745 19.4768 9.75745C20.6768 11.2074 21.2768 12.8397 21.2768 14.6541V16.6658ZM27.3335 11.5774C26.6302 11.5774 26.0379 11.3363 25.5568 10.8541C25.0757 10.3719 24.8346 9.77967 24.8335 9.07745C24.8335 8.57856 24.9907 7.97856 25.3052 7.27745C25.6196 6.57634 26.1407 5.66856 26.8685 4.55411C26.9029 4.52078 27.0579 4.44189 27.3335 4.31745C27.3746 4.31745 27.5296 4.39634 27.7985 4.55411C28.5207 5.66078 29.0402 6.56634 29.3568 7.27078C29.6746 7.97634 29.8335 8.57856 29.8335 9.07745C29.8335 9.77967 29.5924 10.3719 29.1102 10.8541C28.6291 11.3363 28.0368 11.5774 27.3335 11.5774Z' fill='#0A36B5')
                                            p.mt-2.text-gray-700 Deep Cleaning
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 px-4 text-center")
                                            input(type="radio" name="serviceCleaning" value="67d094cd50f569a142c25c8d" class="peer")
                                            svg(width='80' height='80' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                              path(d='M10.4309 0.779299C10.3101 0.779247 10.1895 0.78008 10.0692 0.781799C8.46545 0.804455 6.90795 0.99094 5.50874 1.39914C3.26999 2.05227 1.38342 3.32906 0.608971 5.44086C-0.0821224 7.32547 0.520534 9.04821 1.73022 10.3715C2.93991 11.6948 4.70967 12.7631 6.58491 13.8303C8.46022 14.8975 10.4455 15.9531 12.061 17.128C13.6766 18.3027 14.8918 19.5812 15.3594 21.0415C15.4473 21.3154 15.381 22.1707 15.2094 22.8727C15.1409 23.1524 15.0681 23.3976 15.0023 23.6077L16.3731 23.9385C16.4387 23.7238 16.5096 23.4757 16.5753 23.2069C16.7697 22.412 16.9779 21.4842 16.6987 20.6126C16.0915 18.7163 14.6208 17.2506 12.888 15.9907C11.1553 14.7307 9.12991 13.6607 7.28061 12.6083C5.43131 11.5559 3.76249 10.5105 2.76811 9.42266C1.77374 8.33492 1.40694 7.34946 1.92936 5.925C2.51514 4.3275 3.92264 3.3268 5.90256 2.74906C7.88249 2.17141 10.3817 2.0725 12.8498 2.30524C15.3177 2.53805 17.7587 3.09813 19.631 3.78071C20.4391 4.07531 21.1408 4.39383 21.6859 4.70711C21.9372 4.51985 22.2026 4.33235 22.4815 4.16492C22.6514 4.06297 22.8284 3.9675 23.0134 3.88508C22.905 3.80927 22.7948 3.73602 22.683 3.66539C21.9884 3.22836 21.1165 2.82555 20.1128 2.45961C18.1052 1.72774 15.5723 1.14946 12.9819 0.90508C12.1319 0.824924 11.2762 0.78008 10.4309 0.779299ZM24.1734 5.02055C24.1452 5.02149 24.1162 5.02347 24.0863 5.02649C23.8471 5.04992 23.5406 5.1693 23.2054 5.37055C22.7272 5.65766 22.2255 6.09125 21.7024 6.48094L26.5813 13.0488L28.1631 12.678C27.8301 10.3078 27.0522 7.00266 24.7616 5.23555C24.5358 5.06125 24.3713 5.01391 24.1734 5.02055ZM28.2984 14.0906L26.9294 14.4116L30.8563 31.1662H32.3007L28.2984 14.0906ZM2.98444 23.4413L2.83092 24.8848C3.28686 24.9006 3.75671 24.9223 4.23803 24.95L4.38272 23.59L2.98444 23.4413ZM12.6081 24.4766L12.2183 25.9107L16.9279 27.053L17.3577 25.6228L12.6081 24.4766ZM1.13546 26.2592C1.06249 26.2592 1.04913 26.2514 0.935612 26.408C0.822096 26.5645 0.685846 26.8839 0.591081 27.3067C0.401393 28.1523 0.355456 29.3883 0.430924 30.623C0.506471 31.8576 0.699049 33.1038 0.936237 33.9987C1.05475 34.446 1.18936 34.8083 1.29467 35.0057C1.31803 35.0495 1.3203 35.0471 1.33764 35.0724H2.06381C1.81205 34.5068 1.68208 33.8946 1.68233 33.2756C1.68233 30.8245 3.68444 28.8224 6.13545 28.8224C8.58647 28.8224 10.5886 30.8245 10.5886 33.2756C10.5889 33.8946 10.4589 34.5068 10.2072 35.0724H17.2787C17.3144 35.0252 17.3815 34.9172 17.4465 34.7365C17.5872 34.3457 17.7054 33.7163 17.7804 33.0416C17.9304 31.6922 17.9323 30.1506 17.9323 29.5256C17.9323 29.4767 17.9076 29.368 17.6772 29.1666C17.4469 28.9653 17.0398 28.7248 16.5052 28.4979C15.436 28.0438 13.8669 27.6286 12.0985 27.2941C8.56171 26.625 4.20538 26.2592 1.13546 26.2592ZM6.13545 30.2287C4.44444 30.2287 3.08858 31.5845 3.08858 33.2756C3.08858 34.9666 4.44444 36.3224 6.13545 36.3224C7.82655 36.3224 9.18233 34.9666 9.18233 33.2756C9.18233 31.5845 7.82655 30.2287 6.13545 30.2287ZM30.3201 32.5724L29.7732 33.6662H33.7478L33.2009 32.5724H30.3201ZM26.8386 35.0724V36.1662H36.6823V35.0724H26.8386Z' fill='#0A36B5')
                                            p.mt-2.text-gray-700 End of Ease Cleaning
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 px-4 text-center")
                                            input(type="radio" name="serviceCleaning" value="67d094f050f569a142c25c90" class="peer")
                                            svg(width='80' height='80' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                              path(d='M18.4529 34.3008H5.9529M18.4529 34.3008V36.8008C18.4529 37.4638 18.1895 38.0997 17.7207 38.5685C17.2518 39.0374 16.6159 39.3008 15.9529 39.3008H8.4529C7.78986 39.3008 7.15398 39.0374 6.68514 38.5685C6.2163 38.0997 5.9529 37.4638 5.9529 36.8008V34.3008M18.4529 34.3008L23.0046 4.68078C23.0593 4.32461 23.0365 3.96082 22.9375 3.61431C22.8386 3.26781 22.6659 2.94679 22.4313 2.67326C22.1967 2.39973 21.9057 2.18014 21.5784 2.02955C21.251 1.87896 20.8949 1.80092 20.5346 1.80078H3.8679C3.50741 1.80068 3.15116 1.87854 2.82357 2.02903C2.49599 2.17951 2.20483 2.39907 1.97005 2.67263C1.73528 2.94619 1.56244 3.26729 1.4634 3.61391C1.36435 3.96053 1.34144 4.32448 1.39624 4.68078L5.9529 34.3008M32.2996 39.3008V20.9674L35.6329 15.9674V2.63411M28.9662 4.30078H35.6329M28.9662 9.30078H35.6329M28.9662 14.3008H35.6329M12.2996 10.9674V20.9674M7.29957 15.9674H17.2996' stroke='#0A36B5' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
                                            p.mt-2.text-gray-700 Regular Cleaning
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 px-4 text-center")
                                            input(type="radio" name="serviceCleaning" value="67d152367d3a37c73d49d497" class="peer")
                                            svg(width='80' height='80' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12.167 27.2168H25.5006V17.2168H12.167V27.2168Z' stroke='#0A36B5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                                                path(d='M8.83398 33.8844H30.5004C30.7193 33.8844 30.936 33.8413 31.1383 33.7575C31.3405 33.6737 31.5242 33.5508 31.679 33.396C31.8337 33.2412 31.9565 33.0574 32.0402 32.8551C32.1239 32.6529 32.1669 32.4361 32.1668 32.2172V12.2172C32.1668 11.7752 31.9912 11.3514 31.6787 11.0389C31.3662 10.7263 30.9423 10.5508 30.5004 10.5508H12.1668' stroke='#0A36B5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                                                path(d='M35.5004 28.8849H32.1668M12.1668 30.5513V10.5513C12.1736 10.1092 12.0925 9.67018 11.9281 9.25977C11.7636 8.84937 11.5192 8.47577 11.209 8.16073C10.8988 7.84569 10.529 7.59551 10.1212 7.42473C9.71342 7.25396 9.27572 7.16602 8.8336 7.16602C8.39148 7.16602 7.95378 7.25396 7.54597 7.42473C7.13816 7.59551 6.7684 7.84569 6.4582 8.16073C6.14801 8.47577 5.90358 8.84937 5.73914 9.25977C5.57471 9.67018 5.49355 10.1092 5.5004 10.5513V30.5513M12.1668 30.5513C12.1736 30.9933 12.0925 31.4323 11.9281 31.8427C11.7636 32.2531 11.5192 32.6267 11.209 32.9418C10.8988 33.2568 10.529 33.507 10.1212 33.6778C9.71342 33.8486 9.27572 33.9365 8.8336 33.9365C8.39148 33.9365 7.95378 33.8486 7.54597 33.6778C7.13816 33.507 6.7684 33.2568 6.4582 32.9418C6.14801 32.6267 5.90358 32.2531 5.73914 31.8427C5.57471 31.4323 5.49355 30.9933 5.5004 30.5513M12.1668 30.5513C12.1668 31.4353 11.816 32.2827 11.1909 32.9078C10.5658 33.5329 9.71802 33.8841 8.834 33.8841C7.94998 33.8841 7.10217 33.5329 6.47707 32.9078C5.85198 32.2827 5.5004 31.4353 5.5004 30.5513M12.1668 30.5513C12.1668 29.6672 11.816 28.819 11.1909 28.1939C10.5658 27.5688 9.71802 27.2177 8.834 27.2177C7.94998 27.2177 7.10217 27.5688 6.47707 28.1939C5.85198 28.819 5.5004 29.6672 5.5004 30.5513M35.5004 15.5513H32.1668M35.5004 22.2177H32.1668' stroke='#0A36B5' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
                                            p.mt-2.text-gray-700 Carpet Cleaning
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 px-4 text-center")
                                            input(type="radio" name="serviceCleaning" value="67d152517d3a37c73d49d49a" class="peer")
                                            svg(width='80' height='80' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                               path(d='M0.833008 24.2181V14.2181C0.833008 13.4681 0.985786 12.7875 1.29134 12.1764C1.5969 11.5653 1.99967 11.0237 2.49967 10.5514V5.88477C2.49967 4.49588 2.98579 3.31532 3.95801 2.3431C4.93023 1.37088 6.11079 0.884766 7.49967 0.884766H14.1663C14.8052 0.884766 15.4025 1.0031 15.958 1.23977C16.5136 1.47643 17.0275 1.80254 17.4997 2.2181C17.9719 1.80143 18.4858 1.47532 19.0413 1.23977C19.5969 1.00421 20.1941 0.885877 20.833 0.884766H27.4997C28.8886 0.884766 30.0691 1.37088 31.0413 2.3431C32.0136 3.31532 32.4997 4.49588 32.4997 5.88477V10.5514C32.9997 11.0237 33.4025 11.5653 33.708 12.1764C34.0136 12.7875 34.1663 13.4681 34.1663 14.2181V24.2181H30.833V20.8848H4.16634V24.2181H0.833008ZM19.1663 9.2181H29.1663V5.88477C29.1663 5.41254 29.0063 5.01699 28.6863 4.6981C28.3663 4.37921 27.9708 4.21921 27.4997 4.2181H20.833C20.3608 4.2181 19.9652 4.3781 19.6463 4.6981C19.3275 5.0181 19.1675 5.41366 19.1663 5.88477V9.2181ZM5.83301 9.2181H15.833V5.88477C15.833 5.41254 15.673 5.01699 15.353 4.6981C15.033 4.37921 14.6375 4.21921 14.1663 4.2181H7.49967C7.02745 4.2181 6.6319 4.3781 6.31301 4.6981C5.99412 5.0181 5.83412 5.41366 5.83301 5.88477V9.2181ZM4.16634 17.5514H30.833V14.2181C30.833 13.7459 30.673 13.3503 30.353 13.0314C30.033 12.7125 29.6375 12.5525 29.1663 12.5514H5.83301C5.36079 12.5514 4.96523 12.7114 4.64634 13.0314C4.32745 13.3514 4.16745 13.747 4.16634 14.2181V17.5514Z' fill='#0A36B5')
                                            p.mt-2.text-gray-700 Mattress Cleaning
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 px-4 text-center")
                                            input(type="radio" name="serviceCleaning" value="67d152677d3a37c73d49d49c" class="peer")
                                            svg(width='80' height='80' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M23.75 0.0507812C23.4185 0.0507813 23.1005 0.182477 22.8661 0.416898C22.6317 0.651318 22.5 0.969261 22.5 1.30078V3.80078H17.5V1.30078C17.5 0.969261 17.3683 0.651318 17.1339 0.416898C16.8995 0.182477 16.5815 0.0507813 16.25 0.0507812C15.9185 0.0507813 15.6005 0.182477 15.3661 0.416898C15.1317 0.651318 15 0.969261 15 1.30078V3.80078H10V1.30078C10 0.969261 9.8683 0.651318 9.63388 0.416898C9.39946 0.182477 9.08152 0.0507813 8.75 0.0507812C8.41848 0.0507813 8.10054 0.182477 7.86612 0.416898C7.6317 0.651318 7.5 0.969261 7.5 1.30078V3.80078H2.5V1.30078C2.5 0.969261 2.3683 0.651318 2.13388 0.416898C1.89946 0.182477 1.58152 0.0507813 1.25 0.0507812C0.918479 0.0507813 0.600537 0.182477 0.366117 0.416898C0.131696 0.651318 0 0.969261 0 1.30078V33.8008C0 34.1323 0.131696 34.4502 0.366117 34.6847C0.600537 34.9191 0.918479 35.0508 1.25 35.0508C1.58152 35.0508 1.89946 34.9191 2.13388 34.6847C2.3683 34.4502 2.5 34.1323 2.5 33.8008V31.3008H7.5V33.8008C7.5 34.1323 7.6317 34.4502 7.86612 34.6847C8.10054 34.9191 8.41848 35.0508 8.75 35.0508C9.08152 35.0508 9.39946 34.9191 9.63388 34.6847C9.8683 34.4502 10 34.1323 10 33.8008V31.3008H15V33.8008C15 34.1323 15.1317 34.4502 15.3661 34.6847C15.6005 34.9191 15.9185 35.0508 16.25 35.0508C16.5815 35.0508 16.8995 34.9191 17.1339 34.6847C17.3683 34.4502 17.5 34.1323 17.5 33.8008V31.3008H22.5V33.8008C22.5 34.1323 22.6317 34.4502 22.8661 34.6847C23.1005 34.9191 23.4185 35.0508 23.75 35.0508C24.0815 35.0508 24.3995 34.9191 24.6339 34.6847C24.8683 34.4502 25 34.1323 25 33.8008V1.30078C25 0.969261 24.8683 0.651318 24.6339 0.416898C24.3995 0.182477 24.0815 0.0507813 23.75 0.0507812ZM2.5 6.30078H22.5V28.8008H2.5V6.30078ZM12.5 25.0508C12.7158 25.0508 12.9279 24.995 13.1158 24.8888C13.3036 24.7826 13.4607 24.6295 13.5719 24.4445L17.3219 18.1945C17.4387 18.0001 17.5004 17.7776 17.5004 17.5508C17.5004 17.324 17.4387 17.1014 17.3219 16.907L13.5719 10.657C13.4608 10.4719 13.3037 10.3187 13.1159 10.2124C12.928 10.106 12.7159 10.0501 12.5 10.0501C12.2841 10.0501 12.072 10.106 11.8841 10.2124C11.6963 10.3187 11.5392 10.4719 11.4281 10.657L7.67812 16.907C7.56132 17.1014 7.49961 17.324 7.49961 17.5508C7.49961 17.7776 7.56132 18.0001 7.67812 18.1945L11.4281 24.4445C11.5393 24.6295 11.6964 24.7826 11.8842 24.8888C12.0721 24.995 12.2842 25.0508 12.5 25.0508ZM12.5 13.7305L14.7922 17.5508L12.5 21.3711L10.2078 17.5508L12.5 13.7305Z' fill='#0A36B5')
                                            p.mt-2.text-gray-700 Rug Cleaning
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 px-4 text-center")
                                            input(type="radio" name="serviceCleaning" value="67d1527a7d3a37c73d49d49e" class="peer")
                                            svg(width='80' height='80' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M26.5133 1.66992H28.7283M27.6217 1.66992V6.59659M35.06 4.29326L36.6267 5.85992M35.8433 5.07659L32.32 8.59992M39.25 12.1916V14.4066M39.25 13.2999H34.2667M36.6267 20.7399L35.06 22.3049M35.8433 21.5216L32.32 17.9983M28.7283 24.9283H26.5133M27.6217 24.9283V19.9449M16.7483 14.9316H6.75M16.7483 14.9316C18.0744 14.9316 19.3462 15.4584 20.2839 16.3961C21.2215 17.3337 21.7483 18.6055 21.7483 19.9316V32.4299C21.7483 33.756 21.2215 35.0278 20.2839 35.9655C19.3462 36.9031 18.0744 37.4299 16.7483 37.4299H6.75C5.42392 37.4299 4.15215 36.9031 3.21447 35.9655C2.27678 35.0278 1.75 33.756 1.75 32.4299V19.9316C1.75 18.6055 2.27678 17.3337 3.21447 16.3961C4.15215 15.4584 5.42392 14.9316 6.75 14.9316M16.7483 14.9316V12.4316C16.7483 11.7685 16.4849 11.1327 16.0161 10.6638C15.5473 10.195 14.9114 9.93159 14.2483 9.93159H9.24833C8.58529 9.93159 7.94941 10.195 7.48057 10.6638C7.01173 11.1327 6.74833 11.7685 6.74833 12.4316L6.75 14.9316M1.75 7.43159L2.785 6.39659C3.72246 5.45884 4.99403 4.93187 6.32 4.93159H18M11.7483 9.93159V4.93159M11.7483 21.5949V31.5949M6.75 26.5949H16.7483M23.175 8.26326C23.984 7.54994 24.954 7.04356 26.0018 6.78759C27.0496 6.53162 28.1438 6.53369 29.1906 6.79362C30.2374 7.05356 31.2055 7.5636 32.0118 8.27998C32.8182 8.99636 33.4386 9.89767 33.82 10.9066C34.2033 11.9149 34.3333 13.0016 34.2033 14.0733C34.0055 15.6892 33.2233 17.1769 32.0041 18.2558C30.7849 19.3347 29.213 19.9302 27.585 19.9299' stroke='#0A36B5' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
                                            p.mt-2.text-gray-700 Upholstery Cleaning
                        h2.h2-service.text-primary Home Type
                            span.text-red-500 *
                        p 
                            | Please select your home type from the options below. This helps us provide the best service tailored to your needs.
                            br
                            div(class="grid grid-cols-2 gap-6 mb-2")
                                div(class="form-control")
                                    label(class="label font-semibold") Package Name
                                    select#pkgname.select.select-bordered.w-full.max-w-xs(required)
                                      
                                div(class="form-control")
                                    label(class="label font-semibold") Home Size
                                    select#homesize.select.select-bordered.w-full.max-w-xs
                                        option(value="Apartment") Apartment
                                        option(value="Single Story Home") Single Story Home
                                        option(value="Double Story Home") Double Story Home
                                        option(value="Three Story Home") Three Story Home
               .card.bg-base-200.shadow-xl
                    .card-body
                        h2.h2-service.text-primary Select Add Ons
                        p 
                            |  Enhance your service by selecting additional options below. Choose the add-ons that best suit your needs for a more customized experience.
                            br
                        form#form-addon.form-sample(enctype="multipart/form-data" method="POST")
                            div(class="flex justify-center items-center  p-4")
                                div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-6 rounded-lg")
                
                                    each service in addOns
                                        label(class="p-6 border-2 border-gray rounded-lg hover:border-blue-500 cursor-pointer flex flex-col items-center transition-all duration-300 py-2 text-center")
                                            input(type="checkbox" name="addonslist" value=service.name data-price=service.totalPrice class="peer" onchange="updateSelectedServices(this)")
                                            svg(width='70' height='70' viewbox='0 0 31 35' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M10.4309 0.779299C10.3101 0.779247 10.1895 0.78008 10.0692 0.781799C8.46545 0.804455 6.90795 0.99094 5.50874 1.39914C3.26999 2.05227 1.38342 3.32906 0.608971 5.44086C-0.0821224 7.32547 0.520534 9.04821 1.73022 10.3715C2.93991 11.6948 4.70967 12.7631 6.58491 13.8303C8.46022 14.8975 10.4455 15.9531 12.061 17.128C13.6766 18.3027 14.8918 19.5812 15.3594 21.0415C15.4473 21.3154 15.381 22.1707 15.2094 22.8727C15.1409 23.1524 15.0681 23.3976 15.0023 23.6077L16.3731 23.9385C16.4387 23.7238 16.5096 23.4757 16.5753 23.2069C16.7697 22.412 16.9779 21.4842 16.6987 20.6126C16.0915 18.7163 14.6208 17.2506 12.888 15.9907C11.1553 14.7307 9.12991 13.6607 7.28061 12.6083C5.43131 11.5559 3.76249 10.5105 2.76811 9.42266C1.77374 8.33492 1.40694 7.34946 1.92936 5.925C2.51514 4.3275 3.92264 3.3268 5.90256 2.74906C7.88249 2.17141 10.3817 2.0725 12.8498 2.30524C15.3177 2.53805 17.7587 3.09813 19.631 3.78071C20.4391 4.07531 21.1408 4.39383 21.6859 4.70711C21.9372 4.51985 22.2026 4.33235 22.4815 4.16492C22.6514 4.06297 22.8284 3.9675 23.0134 3.88508C22.905 3.80927 22.7948 3.73602 22.683 3.66539C21.9884 3.22836 21.1165 2.82555 20.1128 2.45961C18.1052 1.72774 15.5723 1.14946 12.9819 0.90508C12.1319 0.824924 11.2762 0.78008 10.4309 0.779299ZM24.1734 5.02055C24.1452 5.02149 24.1162 5.02347 24.0863 5.02649C23.8471 5.04992 23.5406 5.1693 23.2054 5.37055C22.7272 5.65766 22.2255 6.09125 21.7024 6.48094L26.5813 13.0488L28.1631 12.678C27.8301 10.3078 27.0522 7.00266 24.7616 5.23555C24.5358 5.06125 24.3713 5.01391 24.1734 5.02055ZM28.2984 14.0906L26.9294 14.4116L30.8563 31.1662H32.3007L28.2984 14.0906ZM2.98444 23.4413L2.83092 24.8848C3.28686 24.9006 3.75671 24.9223 4.23803 24.95L4.38272 23.59L2.98444 23.4413ZM12.6081 24.4766L12.2183 25.9107L16.9279 27.053L17.3577 25.6228L12.6081 24.4766ZM1.13546 26.2592C1.06249 26.2592 1.04913 26.2514 0.935612 26.408C0.822096 26.5645 0.685846 26.8839 0.591081 27.3067C0.401393 28.1523 0.355456 29.3883 0.430924 30.623C0.506471 31.8576 0.699049 33.1038 0.936237 33.9987C1.05475 34.446 1.18936 34.8083 1.29467 35.0057C1.31803 35.0495 1.3203 35.0471 1.33764 35.0724H2.06381C1.81205 34.5068 1.68208 33.8946 1.68233 33.2756C1.68233 30.8245 3.68444 28.8224 6.13545 28.8224C8.58647 28.8224 10.5886 30.8245 10.5886 33.2756C10.5889 33.8946 10.4589 34.5068 10.2072 35.0724H17.2787C17.3144 35.0252 17.3815 34.9172 17.4465 34.7365C17.5872 34.3457 17.7054 33.7163 17.7804 33.0416C17.9304 31.6922 17.9323 30.1506 17.9323 29.5256C17.9323 29.4767 17.9076 29.368 17.6772 29.1666C17.4469 28.9653 17.0398 28.7248 16.5052 28.4979C15.436 28.0438 13.8669 27.6286 12.0985 27.2941C8.56171 26.625 4.20538 26.2592 1.13546 26.2592ZM6.13545 30.2287C4.44444 30.2287 3.08858 31.5845 3.08858 33.2756C3.08858 34.9666 4.44444 36.3224 6.13545 36.3224C7.82655 36.3224 9.18233 34.9666 9.18233 33.2756C9.18233 31.5845 7.82655 30.2287 6.13545 30.2287ZM30.3201 32.5724L29.7732 33.6662H33.7478L33.2009 32.5724H30.3201ZM26.8386 35.0724V36.1662H36.6823V35.0724H26.8386Z' fill='#0A36B5')
                                            p.mt-2.text-gray-700= service.name
               .card.bg-base-200.shadow-xl
                    .card-body
                        h2.h2-service.text-primary Access and Other Information*
                        p 
                        | Please provide details about property access and any additional information we should know. This ensures a smooth and hassle-free service experience.
                        br
                        | 
                        form#form-extra.form-sample(enctype="multipart/form-data" method="POST")
                            div(class="grid grid-cols-2 gap-6 mb-2")
                                div(class="form-control")
                                    label(class="label font-semibold") How Clean, Would Estimate Your Home To Be?
                                    input(type="text" placeholder="input first name.."  class="input input-bordered w-full max-w-xs")
                                div(class="form-control")
                                    label(class="label font-semibold") Where can the cleaners park?
                                    input(type="text" placeholder="input lirst name.."  class="input input-bordered w-full max-w-xs")
                                div(class="form-control")
                                    label(class="label font-semibold") Do You have Pet?
                                    input(type="text" placeholder="input email address.." class="input input-bordered w-full max-w-xs")
                                div(class="form-control")
                                    label(class="label font-semibold") How Did You Hear About Us?
                                    input(type="text" placeholder="input phone number.." class="input input-bordered w-full max-w-xs")
               div.px-2.py-2.w-full
                <button id="submitForm" class="btn btn-primary btn-block">SAVE BOOKING</button>              

                

            // Right Column 1/3
            .flex.flex-col.justify-start.items-start.space-y-2
                .card.bg-base-200.shadow-xl.w-full
                    .card-body
                        h2.text-lg.font-bold.text-primary.text-center Booking Summary
                        .divider
                        .flex.justify-between.text-left
                            span.font-semibold Service Name
                            span#servicenametext -
                        .flex.justify-between
                            span.font-semibold Package Name
                            span#packagenametext -
                        .flex.justify-between
                            span.font-semibold Home Size
                            span#homesizetext -
                        .flex.justify-between
                            span.font-semibold Price
                            span#totalpricetext 0
                        .divider
                        .flex.justify-between
                            span.font-semibold Add-Ons
                            span#countaddonstext 0
                        #addonContainer
                        .divider
                        .flex.justify-between.font-semibold
                            span Service Total
                            span#grandtotalpricetext.text-blue-700 -
                        .flex.justify-between.font-semibold
                                span Total Inc. GST
                                span#totalgstprice.text-blue-700 -

                
block pageScripts
    script(defer src=`${baseUrl}/public/js/forms/form-booking.js`)
    



