meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
title 3Clean - Landing Pages
link(rel="stylesheet" href="/css/output.css")
link(href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet")

// Placeholder for page-specific CSS
block pageStyles